body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(129deg, rgba(130, 2, 99,0.9840000000000001) 1%, rgba(94, 177, 191,1) 100%);
  color: white;
}

.container {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: 180px;
  margin-top: 10px;
  list-style: none;
}

.nav a {
  color: black;
  margin: 24px;
  transition: color 0.5s;
}

.nav a:hover {
  color: white;
}

.header {
  color: white;
  text-align: center;

  /* background-image: url("assets/keyboard-1.jpg");
  background-size: cover;
  background-position: center; */
}

.title {
  margin-bottom: 30px;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  max-width: 950px;
  margin: auto;
}

.container h1 {
    font-size: 5em;
    font-weight: bold;
    max-width: 950px;
    margin: auto;
}

.container p {
    font-size: 1.5em;
    max-width: 950px;
    margin: auto;
}

h3 {
  font-size: 1.7em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #7ebbfc;
  font-weight: bold;
  max-width: 950px;
  margin: auto;
}

a:hover {
  color: #3587de;
}

@media only screen and (max-width: 800px) {

  body {
    padding: 20px;
  }

  .nav {
    display: none;
  }
}