@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    background-color: rgb(24, 23, 23);
    font-family: "IBM Plex Mono", monospace;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin: 2em;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 40px;
    transition: flex-wrap 0.4s ease;
}

.title-container h1 {
    margin-bottom: 2px;
}

.content {
    margin-left: 4em;
    margin-right: 4em;
}

.tagline {
    font-size: 16px;
    margin-top: 0;
}

.desc {
    font-size: 24px;
    font-weight: bold;
}

.the-bar a {
    text-decoration: none;
    color: inherit;
}

.the-bar ul {
    list-style: none;
    text-align: right;
}

.the-bar li {
    display: inline-block;
    padding: 12px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    transition: all .4s ease;
    font-size: 24px;
}

.the-bar li:hover {
    background-color: black;
    border-radius: 10px;
    transition: all .4s ease;
}

.block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px 0 24px 0;
}

.container {
    border-radius: 10px;
    padding: 24px;
    transition: 
        background-color .4s ease;
}

.project-container {
    flex-grow: 1;
    flex-basis: 48%;
    box-sizing: border-box;
}

.container:hover {
    background-color: black;
    transition: 
        background-color .4s ease;
}

.container a {
    text-decoration: underline;
    color: rgb(27, 63, 221)
}

.container a:hover {
    color: rgb(22, 51, 177);
    transition: color 0.2s ease;
}

.contact-container {
    flex-basis: 20%;
    flex-grow: 1;
}

@media (max-width: 769px) {
    .content {
        margin-left: 1em;
        margin-right: 1em;
    }
}
